#boton {
    transition-duration: 0.4s;
    width: 100%;
  }
  #boton:hover {
    background-color: #dddddd; 
  }
  #canvasBody{
    filter: blur(2px);
    transition-duration: 0.4s;

  }
  #canvasBody:hover{
    filter: blur(0px);
    transition-duration: 0.4s;
  }
  #nav{
    width: 100%;
  }
  #h{
    position: relative;
    left:600px;
    top: 300px;
  }

  